.App{display: flex;flex-direction: column;justify-content: space-between;min-height: 100vh;height: fit-content;}
.Header
{height: clamp(45px,20vh, 100px);background-color: rgb(175, 143, 223,0.65);z-index: 100;box-shadow: -2px -4px 9px 6px black;width: 100%;}
.Header>div:nth-child(1)>img
{height:70px;width:85px; object-fit:fill;margin-left:5%;border-radius:70px;}
.Header,.Header>div:nth-child(1),
.Header>div:nth-child(2),Img>div
{display: flex;}
#register{padding:7px;border:3px solid black;cursor:pointer;background-color:black;color: aliceblue;border-radius:5px;width:100px;font-size:15px;transition: 0.3s;}
#register:hover{background-color:rgb(175, 143, 223) ;color: black;transition: 0.3s;}
#register:active{background-color: white;transition: 0.2s;}
.Header,.Header>div:nth-child(1),
.Header>div:nth-child(2)
{color:rgb(240, 236, 252);font-weight: 480;font-size: 18px;}
.Header>div:nth-child(1)
{flex-basis:25%;align-items: center;}
.Header>div:nth-child(2)
{flex-basis: 75%;flex-direction: row;justify-content: space-around;align-items: center;}
.Header>div:nth-child(2)>div
{cursor: pointer;letter-spacing: 1.5px;}
.Header>div:nth-child(2)>div:nth-child(2)
{width: clamp(45px,14vw,130px);display: inline-block;}
.Header>div:nth-child(2)>div>div

{border-radius: 10px;background-color: rgb(175, 143, 223);transition: 0.3s ease-in-out;padding:clamp(12.5px,max(2.5vh,2.5vw),20px);}
.Header>div:nth-child(2)>div>div>a{padding-top:5%;padding-bottom:5%;}
.Services
{letter-spacing: 1.5px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;cursor: pointer;margin: 0;text-align: center;}
#ham{display: none;}
.Header>div:nth-child(2)>div>p:hover,.Header>div:nth-child(2)>div:nth-child(1):hover,
.Header>div:nth-child(2)>div:nth-child(4):hover,.Header>div:nth-child(2)>div:nth-child(3)>div>div>div>p:hover,
.Header>div:nth-child(2)>div:nth-last-child(1):hover,.Header>div:nth-child(2)>div:nth-child(2):hover,Header>div:nth-child(2)>div:nth-child(3)>div>div>div>div>p:hover
{color: #333;transition: 0.3s ease-in-out;}
.Header>div:nth-child(2)>div>div>p:hover,
div{text-align: justify;}
.divv{padding:max(27.5px,2vw,2vh);line-height: 7.5px;display: flex;flex-direction: column;}

.underline{margin: 2%;transition: 0.3s;border: none;background-color: rgb(118, 76, 181);padding:min(1.5%,3vh) min(3.5%,6vw);border-radius: 10px;color: whitesmoke;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.underline:hover{transition: 0.3s;background-color: #333;color:whitesmoke}
.MainContent{
  height: fit-content;display: flex;gap:2%;
  z-index: 90;padding-top: 10px;padding-bottom: 10px;
  flex-direction: row;justify-content: center;
  align-items: center;
}
.MainContent>div:nth-child(1){
  display: flex;width:40%;
  align-items: flex-end;
  justify-content: flex-end;padding: 30px 10px;
}
.MainContent>div:nth-child(2){
  display: flex;width:60%;
flex-direction: column;
}
.MainContent>div:nth-child(2)>div{
  display: flex;flex-direction: column;
}
.MainContent>div:nth-child(2)>div:nth-child(2)>span:hover{text-decoration: underline;}
.Footer{
  background-color: rgb(175, 143, 223,0.65);
  display: flex;
  flex-direction: column;justify-content: space-evenly;
  height:max(35vh,300px);width: 100%;
}
.Footer>div:nth-child(1){display: flex;justify-content: space-between;width: 100%;height: 70%;}
.Footer>div:nth-child(1)>div:nth-child(1){width: 50%;padding-top: 3vh;margin-left: 10%;}
.Footer>div:nth-child(1)>div:nth-child(2){width: 60%;display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;}
.Flags{
  display: flex;flex-direction: row;
  padding: 10%;
  flex-wrap: wrap;gap:18px;justify-content: space-evenly;
 }
 .Flags>div{
  transition: 0.2s ease-in-out;
  width: clamp(40px,max(14vw,14vh),125px);
  height:clamp(40px,max(12vw,12vh),100px);
  box-shadow: 3px 3px 6px 6px grey;
  background-size: cover;background-position: center;
  object-fit: cover;cursor: pointer;
 }
 .Flags>div:hover{
    transition: 0.2s ease-in-out;
    border-radius: 20px;
 }
 th,td{border: 0.5px solid black;font-size: clamp(11px,max(1vw,1vh),20px);}
 .h44{display: inline;}
 .About{
  display: flex;flex-direction: column;
  padding:15px;
 }
 h2{text-align: center;}
 .bold{font-weight: 700;}
 .Header>div:nth-child(2)>div:nth-child(3)>div{
  background-color: transparent;
 }
 .Header>div:nth-child(2)>div:nth-child(3)>div>p{margin: 0;padding: 0;}
 .Header>div:nth-child(2)>div:nth-child(3)>div>div{
background-color: rgb(175, 143, 223);display: none;
}
.Header>div:nth-child(2)>div:nth-child(3)>div:hover>div{display: flex;flex-direction: column;position: absolute;}
.Header>div:nth-child(2)>div:nth-child(3)>div>div>div{
display: flex;flex-direction: row;
}
.Header>div:nth-child(2)>div:nth-child(3)>div>div>div>p{margin: 5px;padding: 0;}
.Header>div:nth-child(2)>div:nth-child(3)>div>div>div>div{
flex-direction: column;background-color: rgb(175, 143, 223);padding: 0px;position: absolute;left: 97.5%;display: none;margin-top:1px ;margin:0;
}
#study>p,#visit>p{margin:5px;}
.Header>div>div:nth-child(2)>div:nth-child(3)>div>div>div:hover>div{display: flex;}
.Header>div>div:nth-child(2)>div:nth-child(3)>div>div>div>div>p{margin:0;padding: 0;}
.Header>div:nth-child(2)>div:nth-child(3)>div>div>div:hover>div{
display: flex;
}
.Header>div:nth-child(2)>div:nth-child(2)>div{background-color: transparent;padding: 0;}
.Header>div:nth-child(2)>div:nth-child(2)>div>div{background-color: #333;position: absolute;display: none;}
.Header>div:nth-child(2)>div:nth-child(2)>div:hover>div{background-color: rgb(175, 143, 223);display: flex;flex-direction: column;color: whitesmoke;margin: 0;padding: 0;}
.Header>div:nth-child(2)>div:nth-child(2)>div>div>p{margin: 0;padding: 5px;}
.Header>div:nth-child(2)>div:nth-child(2)>div>div>p:hover{color: black;transition: 0.3s ease-in-out;}
#form{
  display: flex;height: clamp(390px,40vh,595px);
  align-items: center;flex-direction: column;padding-block: 20px;
}
#form>div{display: flex;gap: clamp(33px,max(3vh,3vw),44px);justify-content: space-evenly;width: 100%;height: 100%;}
#form>div>div{display: flex;flex-direction: column;width: 50%;align-items: flex-end;height:100%;justify-content: space-evenly;}
#form>div:nth-child(2){display: flex;flex-direction: column;}
#form>div:nth-child(2)>div{display: flex;flex-direction: row;
  width: 100%;gap:30px;align-items: center;}
#form>div:nth-child(2)>div>div{width: 50%;}
#form>div:nth-child(2)>div:nth-child(1){align-items: center;}
#form>div:nth-child(3){height: 20%;align-items: center;}
#form>div:nth-child(1){height: 10%;display: flex;}
#form>div:nth-child(2)>div>div:nth-child(1){align-items: center;display: flex;justify-content: flex-end;}
.text-area-container {
  width: 100%; /* Adjust width as needed */
  height: fit-content; /* Adjust height as needed */
  overflow: hidden;
}

.text-area {
  width: clamp(300px,50%,500px);
  height: 100%;
  resize: none; /* Prevent resizing */
  border: 1px solid #ccc;
  line-height: 20px;
  padding: 8px;
  box-sizing: border-box;
}

@media only screen and (max-width:800px) {
  .Header{
    flex-direction: column;
    height: max-content;padding-top:2.5%;padding-bottom:2.5%
  }
  .Header>div:nth-child(1){justify-content: space-between;
    flex-direction: row;width: 100%;
  }
  .Header>div:nth-child(2){
    z-index: 52; flex-direction: column;
    height:max-content;width: 100%;justify-content: center;
  }
  #Right{display: none;}
  .Header>div:nth-child(2)>div{
    
    width: 100%;
    padding:1%;align-items: center;
  }
  .Header>div:nth-child(2)>div:nth-child(2){align-items: center;display: flex;width: 100%;}
  .Header>div:nth-child(2)>div>p{width: max-content;margin: 0;}
  .MainContent{display: flex;
    flex-direction: column;height:max-content; 
     padding: 4vh;gap: 5vh;
  }
  #ham{display: flex;}
  .MainContent>div:nth-child(1),.MainContent>div:nth-child(2){
    justify-content: center;
    width: 100%;align-items: center;
  
  }
  .text-area{width: clamp(190px,90%,410px)}
  #form{background-color: rgb(175, 143, 223,0.2);}
  .MainContent>div:nth-child(2){gap:5vh;}
  .Services{width: 100%;}
  .About{height:fit-content;}
  .Header>div:nth-child(2)>div{display: flex;width: 100%;justify-content: center;}
  #Right>div{padding-block: 5px;}
  tr,td,th{border: 1px solid black;}
  .Header>div:nth-child(2)>div:nth-child(3)>div>div{
    display: flex;flex-direction: column;height: 0;opacity: 0;transition: all 0.3s ease-out;pointer-events: none;
  }
  .Header>div:nth-child(2)>div:nth-child(3)>div:hover>div{
    height: auto;opacity: 1;transition:all 0.3s ease-in-out;pointer-events: all;transform: translateY(1px);position: relative;
  }
  .Header>div:nth-child(2)>div:nth-child(2)>div{align-items: center;justify-content: center;display: flex;flex-direction: column;}
  .Header>div:nth-child(2)>div:nth-child(2)>div>div{position: relative;width: fit-content;}
}